body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lettersColumn {
    display: block;
}

.lettersRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.box {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

p {
    font-size: medium;
    color: black;
}

button {
    padding: 5px 10px;
}